{%extends "base.html"%}
{% load static %}
{%block title%} Album Home {%endblock%}
{%block content%}
<hr>
<section>

    <h1>
        {% if user.is_authenticated %}
        Welcome back {{user}}!
        {% else %}
        Please Sign In to manage your album, or create your account using Sign Up
        {% endif %}
    </h1>
    <h2>There are {{num}} Albums in total.</h2>


</section>

<div class="intro">


    <h2>Here you can do....</h2>
    <p>Using "Save A Moment" to: <br>
        - catch a 5s short Video or Picture and <br>
        - download to your local storage by clicking "Save" button</p>
    <p>Using "My Album" to :<br>
        - create new record with title, description and a photo picture file or other types of file.<br>
        - delete record you created
    </p>

</div>
{%endblock content%}