body {
  margin: 0;
  top: 0;
  left: 0;
  background-image: url("background.jpg");
  background-position: center;
  background-size: cover;
  color: wheat;
  text-align: center;
  font-size: 20px;
}
a {
  color: antiquewhite;
}
nav {
  margin-top: 20px;
  padding: 0.5em;
  font-size: larger;
}
header {
  position: fixed;
  top: 0;
  width: 100%;
  padding: 0.5em;
  height: fit-content;
  background-color: rgb(18, 16, 16);
}
header > ul {
  padding-top: 5pt;
  margin: 0;
  display: flex;
  list-style: none;
  justify-content: center;
}
header a {
  color: antiquewhite;
}
nav > ul {
  display: flex;
  list-style: none;
  padding: 1em;
  justify-content: space-between;
}

nav a {
  border: 1px solide wheat;
  border-radius: 20%;
  font-weight: bold;
  color: rgb(248, 216, 35);
  text-decoration: none;
  background-color: rgb(59, 123, 163);
}
nav a:hover {
  /* font-style: italic; */
  display: inline-block;
  transform: skewX(-20deg);
  transition: 0.5s;
}

.card {
  border: 2pt solid white;
  border-radius: 15%;
  box-shadow: 5px 10px wheat;
  height: 80vh;
}
.card a {
  color: antiquewhite;
}
.message {
  color: rgb(237, 203, 5);
}
img {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  width: 300px;
}

img:hover {
  box-shadow: 0 0 2px 1px rgba(246, 247, 248);
}
section {
  text-align: center;
}
p {
  padding: 1em;
  text-align: center;
}

.sub {
  text-align: center;
}

button {
  margin: 2em;
  width: fit-content;
  height: 40px;
  background-color: rgb(59, 123, 163);

  color: wheat;
  font-size: 15px;
  font-weight: bold;
  font-family: inherit;
}
button:hover {
  box-shadow: 3px 3px 10px wheat;
}
.recorder {
  border: 2px solid wheat;
  border-radius: 5%;
}
