body {
  margin: 0;
  top: 0;
  left: 0;
  background-image: url("background.jpg");
  background-position: center;
  background-size: cover;
  color: wheat;
  text-align: center;
  font-size: 20px;
}
a {
  color: antiquewhite;
}
nav {
  margin-top: 20px;
  padding: 0;
  /* list-style: none; */

  font-size: large;
}
header {
  position: fixed;
  top: 0;
  width: 100%;
  height: 20pt;
  background-color: rgb(18, 16, 16);
}
header > ul {
  padding-top: 5pt;
  margin: 0;
  display: flex;
  list-style: none;
  justify-content: center;
}
header a {
  color: antiquewhite;
}
nav > ul {
  display: flex;
  list-style: none;
  padding: 1em;
  justify-content: space-between;
}

nav a {
  border: 1px solide wheat;
  border-radius: 20%;
  color: rgb(25, 156, 25);
}
nav a:hover {
  font-style: italic;
  color: rgb(248, 216, 35);
}

.card {
  border: 2pt solid white;
  border-radius: 15%;
  box-shadow: 5px 10px wheat;
  height: 80vh;
}
.card a {
  color: antiquewhite;
}
.message {
  color: rgb(237, 203, 5);
}
img {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  width: 300px;
}

img:hover {
  box-shadow: 0 0 2px 1px rgba(246, 247, 248);
}
section {
  text-align: center;
}
p {
  padding: 2em;
  text-align: center;
}

.sub {
  text-align: center;
}
